---
import Layout from "@/layouts/Layout.astro";
import Contact from "@/sections/Contact.astro";
import Skills from "@/sections/Skills.astro";
import Education from "@/sections/Education.astro";
import "../styles/global.css";
---

<Layout>
  <div class="space-y-4 sm:space-y-6">
    <Contact />
    <Skills />
  </div>
</Layout>
